@font-face {
  font-family: "Stoked";
  src: url("Stoked.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.scene {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  z-index: -5;
}

img {
  max-width: 100%;
}

.layer {
  position: absolute;
  left: -10%;
  top: 0;
  width: 120%;
  height: 100%;
  background: url("img/parallax.jpg") center no-repeat;
  background-size: cover;
}

.layer-sign {
  position: absolute;
  left: -10%;
  top: 0;
  width: 120%;
  height: 100%;
  background-size: cover;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main {
  color: #fff;
}

.news {
  background-color: #9b59b6;
}
.contacts {
  background-color: #3498db;
}
.portfolio {
  background-color: #f1c40f;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
  font-family: Arial;
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menu-list a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
}
.menu-btn {
  width: 50px;
  height: 100px;
  background-color: #333;
  border-radius: 20px;
  position: absolute;
  right: -55px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 50px;
  color: #fff;
  top: 40%;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
  transform: translateX(0%);
}
.content_active {
  transform: translateX(20%);
  filter: grayscale(0.7) blur(1.5px);
}

.scene {
  transition: 0.5s;
  transform: translateX(0%);
}

.scene_active {
  filter: grayscale(0.7) blur(1.5px);
  transform: translateX(20%);
}

.header {
  position: fixed;
  width: 100%;
  height: 12%;
  background-color: rgba(235, 78, 75, 0.76);
  z-index: 100;
}

.header::before {
  content: "";
  position: fixed;
  top: 12%;
  height: 3%;
  width: 100%;
  border-bottom-right-radius: 75%;
  border-bottom-left-radius: 75%;
  background-color: rgba(235, 78, 75, 0.76);
}

.header-ul {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-weight: 900;
  list-style: none;
}

.header-li {
  justify-content: center;
  height: 70px;
}

.logo {
  width: 10%;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  font-family: Stoked;
  font-size: 20px;
}

.search {
  width: 30%;
  margin-right: 200px;
}

.sign-up {
  margin-right: 20px;
  padding-top: 10px;
  font-family: Consolas;
}

.log-in {
  padding-top: 10px;
  margin-left: 20px;
  font-family: Consolas;
}

.search-box {
  display: flex;
  position: absolute;
  background-color: #2f3640;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2f3640;
  text-decoration: none;
}

.search-txt {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover .search-btn {
  background-color: #2b2b2b;
}

.sign-up a {
  text-decoration: none;
  color: #7ed6df;
  font-size: 24px;
}

.log-in a {
  text-decoration: none;
  color: #2f3640;
  font-size: 24px;
}

.but-su {
  position: relative;
  display: inline-block;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
  color: #7ed6df;
  padding: 2px;
  transition: 0.2s;
  border-radius: 5px;
}

.but-su-l {
  position: absolute;
  display: block;
}

.t {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #7ed6df);
}

.but-su:hover .t {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.b {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #7ed6df);
}

.but-su:hover .b {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.l {
  left: 0;
  top: 100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #7ed6df);
}

.but-su:hover .l {
  top: -100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.r {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #7ed6df);
}

.but-su:hover .r {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.but-su:hover {
  box-shadow: 0 0 10px #7ed6df, 0 0 40px #7ed6df, 0 0 5px #7ed6df;
  transition: 0.7s;
  background-color: #7ed6df;
  color: #d63031;
  transition-delay: 1s;
}

.but-li {
  position: relative;
  display: inline-block;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
  color: #333;
  padding: 2px;
  transition: 0.2s;
  border-radius: 5px;
}

.but-li-l {
  position: absolute;
  display: block;
}

.tli {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #333);
}

.but-li:hover .tli {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.bli {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #333);
}

.but-li:hover .bli {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.lli {
  left: 0;
  top: 100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #333);
}

.but-li:hover .lli {
  top: -100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.rli {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #333);
}

.but-li:hover .rli {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.but-li:hover {
  box-shadow: 0 0 10px #333, 0 0 40px #333, 0 0 5px #333;
  transition: 0.7s;
  background-color: #333;
  color: #d63031;
  transition-delay: 1s;
}

progress {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0px;
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  color: #002c68;
}

progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background: #7ed6df;
}

progress::-moz-progress-bar {
  background: #7ed6df;
}

.progress-container {
  z-index: 200;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background: #7ed6df;
  width: 0%;
  display: block;
  height: inherit;
}
