<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="{{js}}"></script>
    <script type="text/javascript" src="{{js2}}"></script>
    <script src="https://kit.fontawesome.com/6a0829fe8c.js" crossorigin="anonymous"></script>
    <link href="{{style2}}" rel="stylesheet" type="text/css"/>
    <link href="{{style3}}" rel="stylesheet" type="text/css"/>
    <link href="{{style}}" rel="stylesheet" type="text/css"/>
    <title>Sign-up</title>
</head>
<body>
<div class="scene">
    <div class="layer-sign"></div>
</div>
    <div class="form">
<h1 class="form-h1">Sing-Up</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="input-form">
        {{ form.name(type="text", placeholder="Login")}}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </div>
    <div class="input-form">
        {{ form.password(class="form-control", type="password", placeholder="Password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </div>
    <div class="input-form">{{ form.submit(type="submit", value="Sign-up", class="but-su") }}</div>
    <div>{{ message }}</div>
    <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
</form>
    </div>
<script type="text/javascript">
        function parallax(event) {
          this.querySelectorAll(".layer-sign").forEach((layer) => {
            layer.style.transform = `translateX(${event.clientX / 50}px)`;
          });
        }
        document.addEventListener("mousemove", parallax);
      </script>
</body>
</html>